# Folder node modules
node_modules/

# File konfigurasi lingkungan / rahasia
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File log lokal lama
lokasi_log.json

# System files
.DS_Store
Thumbs.db